{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}
{% block content %}
<p>
  <a href="{% url 'accounts:user_profile' pk=user.pk %}" class="btn btn-primary">プロフィール</a>
  <a href="{% url 'accounts:logout' %}" class="btn btn-primary">ログアウト</a>
  <a href="{% url 'tweets:create' %}" class="btn btn-primary">ツイート</a>
</p>
{% if messages %}
<ul>
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</ul>
{% endif %}

{% for tweet in object_list %}
<ul>
  {{tweet.created_at}}

  {% if tweet.user in following_list %}
  <a href="{% url 'accounts:unfollow' tweet.user.username %}" class="btn btn-light">{{ tweet.user }}</a>
  {% elif request.user != tweet.user %}
  <a href="{% url 'accounts:follow' tweet.user.username %}" class="btn btn-light">{{ tweet.user }}</a>
  {% else %}
  <a href="{% url 'accounts:user_profile' pk=user.pk %}" class="btn btn-light">{{ tweet.user }}</a>
  {% endif %}

  <a href="{% url 'tweets:detail' tweet.pk %}" class="btn btn-light">{{tweet.contents}}</a>
</ul>
{% endfor %}

{% endblock %}
