{% extends 'base.html' %}
{% load static %}
{% block title %}ホーム{% endblock %}
{% block content %}

{% if messages %}
<ul>
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</ul>
{% endif %}

{% for tweet in object_list %}
<ul>
  {{tweet.created_at}}
  {% if request.user != tweet.user %}
  <a href="{% url 'accounts:user_profile' pk=tweet.user.pk %}" class="btn btn-light">{{ tweet.user }}</a>
  {% else %}
  <a href="{% url 'accounts:user_profile' pk=user.profile.pk %}" class="btn btn-light">{{ tweet.user }}</a>
  {% endif %}

  <a href="{% url 'tweets:detail' tweet.pk %}" class="btn btn-light">{{tweet.contents}}</a>
  <a>
    {% if tweet.pk in liked_list %}
    <button type="button" id="fetch-like-for-tweet" title="likedeleteボタン" data-tweet-id="tweet_pk" data-is-liked="true">
      <!-- すでにイイねしている時はfasクラス -->
      <i class="fas fa-heart text-danger" id="like-for-tweet-icon"></i>
    </button>
    {% else %}
    <button type="button" id="fetch-like-for-tweet" title="likeボタン" data-tweet-id="tweet_pk" data-is-liked="false">
      <!-- イイねしていないときはfarクラス -->
      <i class="far fa-heart text-danger" id="like-for-tweet-icon"></i>
    </button>
    {% endif %}
  </a>
</ul>
{% endfor %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  const getCookie = name => {
    if (document.cookie && document.cookie !== '') {
      for (const cookie of document.cookie.split(';')) {
        const [key, value] = cookie.trim().split('=');
        if (key === name) {
          return decodeURIComponent(value);
        }
      }
    }
  };

  const csrftoken = getCookie('csrftoken');

  document.getElementById('fetch-like-for-tweet').addEventListener('click', e => {
    e.preventDefault();
    // const element = document.getElementById('fetch-like-for-tweet')
    const element = e.currentTarget
    console.log(element.dataset.isLiked)

    if ((element.dataset.isLiked) == 'true') {
      url = '/tweets/{{tweet.pk}}/unlike/'
    }
    else {
      url = '/tweets/{{tweet.pk}}/like/'
    }

    fetch(url, {
      method: 'POST',
      body: `tweet_pk={{tweet.pk}}`,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': csrftoken,
      },
    }).then(response => {
      return response.json();
    }).then(response => {

      const counter = document.getElementById('like-for-tweet-count')
      counter.textContent = response.like_for_tweet_count
      const icon = document.getElementById('like-for-tweet-icon')

      if (element.dataset.isLiked == 'false') {
        icon.classList.remove('far')
        icon.classList.add('fas')
        icon.id = 'like-for-tweet-icon'
      } else {
        icon.classList.remove('fas')
        icon.classList.add('far')
        icon.id = 'like-for-tweet-icon'
      }
    }).catch(error => {
      console.log(error);
    });
  });
</script>

{% endblock %}
