{% if is_user_liked_for_tweet %}
<button type="button" id="fetch-like-for-tweet" title="いいねボタン" class="like_button" data-tweet-id="tweet_pk" data-is-liked="true">
    <!-- すでにイイねしている時はfasクラス -->
    <i class="fas fa-heart text-danger" id="like-for-tweet-icon"></i>
</button>
{% else %}
<button type="button" id="fetch-like-for-tweet" title="いいね削除ボタン" class="like_button" data-tweet-id="tweet_pk" data-is-liked="false">
    <!-- イイねしていないときはfarクラス -->
    <i class="far fa-heart text-danger" id="like-for-tweet-icon"></i>
</button>
{% endif %}
<!-- イイねの数 -->
<span id="like-for-tweet-count">{{ like_for_tweet_count }}</span>
<span>件のいいね</span>
</div>
