{% extends 'base.html' %}
{% load static %}
{% block title %}ツイート詳細{% endblock %}

{% block content %}
<ul>
  <li>{{ tweet.user }}</li>
  <l1>{% if tweet.created_at %}{{ tweet.created_at }}{% endif %}</li>
    <li>{% if tweet.contents %}{{ tweet.contents }}{% endif %}</li>
</ul>
<a href="{% url 'accounts:home' %}" class="btn btn-primary">ツイートトップページ</a>
<a href="{% url 'tweets:delete' tweet.pk %}" class="btn btn-primary">削除する</a>

{% include 'tweets/like.html' %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  const getCookie = name => {
    if (document.cookie && document.cookie !== '') {
      for (const cookie of document.cookie.split(';')) {
        const [key, value] = cookie.trim().split('=');
        if (key === name) {
          return decodeURIComponent(value);
        }
      }
    }
  };

  const csrftoken = getCookie('csrftoken');

  document.getElementById('fetch-like-for-tweet').addEventListener('click', e => {
    e.preventDefault();

    let url = ""
    const element = e.currentTarget

    if ((element.dataset.isLiked) == 'true') {
      url = '/tweets/{{tweet.pk}}/unlike/'
    }
    else {
      url = '/tweets/{{tweet.pk}}/like/'
    }

    fetch(url, {
      method: 'POST',
      body: `tweet_pk={{tweet.pk}}`,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': csrftoken,
      },
    }).then(response => {
      return response.json();
    }).then(response => {

      const counter = document.getElementById('like-for-tweet-count')
      counter.textContent = response.like_for_tweet_count
      const icon = document.getElementById('like-for-tweet-icon')

      if (element.dataset.isLiked == 'false') {
        element.dataset.isLiked = 'true'
        icon.classList.remove('far')
        icon.classList.add('fas')
        icon.id = 'like-for-tweet-icon'
      } else {
        element.dataset.isLiked = 'false'
        icon.classList.remove('fas')
        icon.classList.add('far')
        icon.id = 'like-for-tweet-icon'
      }
    }).catch(error => {
      console.log(error);

    });
  });
</script>



{% endblock %}
